<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Datos - Canary Analytics</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logolink" class="navbar-brand" href="/">Canary Analytics</a>
            </div>
        </nav>

        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a class="active-menu" href="/datos"><i class="fa fa-dashboard"></i> Datos</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Dashboard <small> Estadísticas. </small>
                        </h1>
                    </div>
                </div>

                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-blue">
                            <div class="panel-body">
                                <i class="fa fa-twitter fa-5x"></i>
                                <h3> <%= nTweets %> </h3>
                            </div>
                            <div class="panel-footer back-footer-blue">
                                Número de Tweets
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-green">
                            <div class="panel-body">
                                <i class="fa fa-users fa-5x"></i>
                                <h3> <%= nFollowers %> </h3>
                            </div>
                            <div class="panel-footer back-footer-green">
                                Número total de followers
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-red">
                            <div class="panel-body">
                                <i class="fa fa-tachometer fa-5x"></i>
                                <h3> <%= media %> </h3>
                            </div>
                            <div class="panel-footer back-footer-red">
                                Media de Followers
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <div class="panel panel-primary text-center no-boder bg-color-brown">
                            <div class="panel-body">
                                <i class="fa fa-calendar fa-5x"></i>
                                <h3> Diciembre </h3>
                            </div>
                            <div class="panel-footer back-footer-brown">
                                Fecha
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Gráfica de Dispositivos
                            </div>
                            <div class="panel-body">
                                <div id="dispchart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                              Gráfica de Tweets
                            </div>
                            <div class="panel-body">
                              <div id="tweetschart"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-6">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Personas más influyentes
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="200px" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="50px">Foto</th>
                                                <th>Nombre de usuario</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for (let i = 0; i < url.length; i++) {  %>
                                                <tr>
                                                    <td>
                                                        <img class="tavatar" src=<%="" + url[i] + "" %> alt="">
                                                    </td>
                                                    <td>
                                                        <%= nombre[i] %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Últimos Tweets
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table width="200px" class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="50px">Foto</th>
                                                <th>Nombre de usuario</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for (let i = 0; i < url.length; i++) {  %>
                                                <tr>
                                                    <td>
                                                        <img src=<%="" + url2[i] + "" %> alt="">
                                                    </td>
                                                    <td>
                                                        <%= nombre2[i] %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- /. ROW  -->
                <footer>
                    <p>All right reserved. Template by: <a href="http://webthemez.com">WebThemez</a></p>
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <!-- Bootstrap Js -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Metis Menu Js -->
    <script src="assets/js/jquery.metisMenu.js"></script>
    <!-- Custom Js -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="js/index.js"></script>

</body>

</html>
